@charset "UTF-8";

/****** 초기화 ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "맑은 고딕", 돋움;
    font-size: 12px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link{text-decoration: none; color: #000000;}
a:visited{text-decoration: none; color: #000000;}
a:active{text-decoration: none; color: #000000;}
a:hover{text-decoration: none; color: #000000;}

/****** clearfix ******/
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/****** 레이아웃 ******/
#wrap {width: 1000px; margin: auto;}
#header {
    padding: 15px;
    border-bottom: 1px solid #bfbfbf;
}
#nav {
    padding: 10px 0px 10px 0px;
    background: #ffffff;
    border-bottom: 1px solid #bfbfbf;
}
/****** 전체화면 사용 ******/
#full-content {
    background: #ffffff;
    padding: 20px 20px 20px 20px;
}
/****** 2단화면 사용 ******/
#content {
    padding: 20px 0px 20px 0px;
}
#footer {
    padding: 20px 0px 20px 0px;
    background: #dddddd;
    text-align: center;
}

/****** 헤더 ******/
#header>h1>a {
    float: left;
    margin: 0px 0px 0px 0px;
    font-size: 35px;
    color: #79b30b;
}

#header>ul {
    float: right;
    margin-top: 10px;
}

#header>ul>li {
    float: left;
    margin: 0px 0px 0px 10px;
    padding: 3px 3px 3px 3px;
    border: 1px solid #dddddd;
    background-color: #f3f3f3;
    border-radius: 3px 3px 3px 3px;
}

/****** 네비게이션 ******/
#nav>ul>li {
    float: left;
    width: 249px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #000000;
}

#nav>ul>li:hover {
    background-color: #feffc6;
}

#nav>ul>li.last {
    border-right: none;
}

/****** 컨텐츠 ******/

/* 사이드메뉴 */
#content #aside {
    float: left;
    margin: 0px 20px 0px 0px;
    width: 180px;
}

#content #aside h2 {
    padding: 20px 15px 20px 15px;
    text-align: center;
    background-color: #dddddd;
    font-size: 20px;
    font-weight: bold;

}

#content #aside ul>li {
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 0px 0px;
    border: 1px solid #a6a6a6;
    font-size: 15px;
}

/* 메인 */
#content #main {
    float: left;
    width: 800px;
}

#content #main #main-head {
    border-bottom: 1px solid #a6a6a6;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
}

#content #main #main-head h3 {
    float: left;
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}

#content #main #main-head ul {
    float: right;
}

#content #main #main-head ul>li {
    float: left;
    margin: 25px 0px 0px 0px;
    font-size: 15px;
}
#content #main #main-head ul>li:after {content: ">";}
#content #main #main-head ul>li.last:after {content: none;}
